.header {
  background-color: #fff;
  padding: 0 16px;
  line-height: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 16px -16px #c3c3c3;
  z-index: 16;
  position: relative;
  transition: background 0.3s, width 0.2s;
}
